{% extends "base.html" %}
{% block contenu %}
<div class=" mt-5 mb-5">
    <h1 class="mb-3"> bienvenue dans notre plate-forme  intelligente d'orientation éducative   </h1>
    <h2> creer un compte en cliquant sur creer un compte</h2>
    
   <div class="image-container">
 <img src="https://a.storyblok.com/f/118264/1350x500/eb162712f0/header-1350-x-500-uzk-studenten-3.jpg/m/1000x450" alt="image">
   </div>
   <style>
    .image-container { 
        text-align: center;
        margin-top:20px
    }
    img{ 
        max-width: 100%;
        height:auto
    }
    h1{ 
        text-align:center;
        color:white;
    }
    h2{ 
        text-align:center;
        color:white;
    }
    body{ 
        background-color:skyblue;
    }
   </style>
 
{% endblock%}


